@model Lanche;

<div class="col-lg-4 col-md-5 mb-lg-2 mb-2">

    <div class="card mb-4">
        <img src=@Model.ImagemUrl class="img-fluid">
        <div class="pt-3">

            <h4>@Model.Nome</h4>
            <p>Time: 15 - 20 minutes | @Model.IsFavorito</p>
             
             <div class="row tab-lanche">

                 <div class="col">
                         <span> @Model.Preco.ToString("c") </span>
                  </div>

                  <div class="col mt-2 text-center">
                      <a asp-action="AdicionarItem" asp-controller="CarrinhoCompra" asp-route-lancheId="@Model.LancheId">
                   <i class="fa-solid fa-cart-plus"></i>
               </a>
                  </div>

                  <div class="col p-2 text-end me-3">
                     @if(@Model.IsFavorito){
                         <a asp-action="ToggleFavorite" asp-controller="Lanche" asp-route-lancheId="@Model.LancheId">
                           <i class="fa-solid fa-heart favorite-heart"></i>
                        </a>
                     }else{
                     <a asp-action="ToggleFavorite" asp-controller="Lanche" asp-route-lancheId="@Model.LancheId">
                       <i class="fa-regular fa-heart favorite-heart"></i>
                     </a>

                     }
                        
                   </div>
                   
            </div>

                 
               
                 
             
                  
        </div>

    </div>
</div>